body{
  background-color: #feeccc;
  color: #373856;
  
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

.banner {
  color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c14a3f;
  align-items: center;
}

.banner button{
  color: #e39400;
  border: none;
  background-color: transparent;
}

.banner h1 {
  font-size: 40px;
  font-weight: bolder;
}