.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.button-class {
    border-color: #212139;
    font-size: 12pt;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;;
    background-color: #373856;
    color: #f2f3e8;
    padding: 10px;
    border-radius: 10px;
}